@page "/"

<h1>Machine Park</h1>


<table>
    <tr>
        <th>Machine Name</th>
        <th>Machine ID</th>
        <th>Machine Status</th>
        <th>Details</th>
    </tr>
    @foreach (var machine in Machines)
    {
        <tr>
            <td>@machine.Name</td>
            <td>@machine.Id</td>
            <td class="@(machine.Status ? "online" : "")">
                @(machine.Status ? "Online" : "Offline") <button class="ml-2" @onclick="() => ChangeStatus(machine)">Change</button>
            </td>
            <td>
                <NavLink class="nav-link" href="@($"details/{machine.Name}")">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Details
                </NavLink>
            </td>
        </tr>
    }


</table>

https://stackoverflow.com/questions/63683648/blazor-css-not-loading
 "profiles": {
    "IIS Express": {
      "commandName": "IISExpress",
      "launchBrowser": true,
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Local"
      }
    },
I switched local back to development which fixed the issue.

@code{
    public List<Machine> Machines { get; set; }

    protected override Task OnInitializedAsync()
    {
        Machines = machineList.InitalizeMachines();
        return base.OnInitializedAsync();
    }
    public void ChangeStatus(Machine machine)
    {
        machine.Status = !machine.Status;
        machine.Log.Add($"{machine.Status}, {DateTime.Now}");
        StateHasChanged();
    }
}

